@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    font-family: Roboto;
}
nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}

/* Hero Section */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
main section{
    width: 50%;
}
.leftsection{
    margin-left: 5%;
    position: relative;
}
.topangle{
    width: 25px;
}
.leftsection h1{
    font-size: 72px;
}
.leftsection p{
    color: #808080;
    font-size: 18px;
    margin: 20px 0;
}
.bottomangle{
    width: 25px;
    position: absolute;
    right: 25px;
}
.stethoscope{
    position: absolute;
    width: 90%;
    z-index: -1;
    top: -85px;
    right: -100px;
}
.mouse{
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 30px;
}
.leftsection button{
    border: none;
    border-radius: 40px;
    color: #fff;
    background-color: #41D399;
    padding: 15px 40px;
    font-size: 25px;
    font-weight: 600;
}

/* Right Side */

.greenbox, .yellowbox{
    position: absolute;
    right: 0;
}
.greenbox{
    width: 32%;
    bottom: 50px;
}
.yellowbox{
    width: 30%;
    bottom: 30px;
}
.doctor{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
}